.top {
  background: #C9F6FF; }

.right {
  background: #349FA6; }

.left {
  background: #8BC5C8; }

/* header-main grid and others */
header {
  position: relative;
  width: 100%;
  top: 0;
  grid-area: header;
  z-index: 100; }

.main-nav {
  padding: 5px;
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(100, 255, 218, 0.15);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: end; }
  .main-nav a {
    color: #64ffda;
    cursor: pointer;
    font-size: 20px; }
    .main-nav a:hover {
      color: #ccd6f6;
      transition: 0.7s;
      transition: ease; }

.navbar {
  display: flex;
  flex-direction: row-reverse; }

.navbar-toggler {
  background-color: #64ffda; }
  .navbar-toggler:focus {
    box-shadow: none;
    border: 2px solid rgba(100, 255, 218, 0.15); }

.navbar-collapse {
  justify-content: center; }

.burger-nav {
  transform: translateX(-2px) translateY(-3px);
  width: 35px;
  height: 35px; }

/*----------------------------------------------------------------------*/
.right-side-nav {
  display: none; }

.left-side-nav {
  display: none; }

footer {
  grid-area: footer;
  color: #64ffda;
  text-align: center;
  letter-spacing: 2px; }

/* general settings */
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #0a192f; }

/* Scroll configuration */
::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px; }

/*---------------------------------*/
/* GENERAL GRID FOR ALL APGE */
.general-container {
  display: grid;
  grid-template-areas: "header" "main"   "footer";
  justify-content: center;
  margin: 0;
  padding: 0;
  grid-template-columns: 100%;
  grid-template-rows: 1fr; }

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

/* footer grid*/
.general-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  min-height: 80vh;
  padding: 0;
  margin: 0px 0px;
  max-width: 100%;
  margin-bottom: 90px;
  box-sizing: border-box; }

/* presentation configurations */
.grid-presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px; }

.general-text-presentation {
  display: grid;
  flex-direction: column;
  text-align: left; }
  .general-text-presentation h1, .general-text-presentation p {
    margin: 0px;
    padding: 0px; }
  .general-text-presentation h1 {
    color: #ccd6f6;
    font-size: 50px; }
  .general-text-presentation p {
    font-size: 20px;
    color: #8892b0; }
  .general-text-presentation .p-home-title {
    font-size: 18px;
    color: #64ffda; }

.presentation-img {
  text-align: center; }

.myself-main {
  width: 150px;
  height: 150px;
  padding: 0px 6px  0px 6px;
  border-radius: 50%;
  border: dotted #64ffda 5px; }

/* About configurations */
.grid-presentation-about {
  display: flex;
  justify-content: center;
  align-items: center; }

.general-text-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 0px 30px; }
  .general-text-about h1, .general-text-about h2, .general-text-about p {
    margin: 0px;
    padding: 0px; }
  .general-text-about h1 {
    font-size: 38px;
    line-height: 90px;
    color: #ccd6f6; }
  .general-text-about h2 {
    font-size: 32px;
    line-height: 90px;
    font-weight: normal;
    color: #8892b0; }
  .general-text-about p {
    font-size: 20px;
    color: #8892b0; }

.myself-about {
  display: none; }

.square-1-about {
  display: none; }

.square-2-about {
  display: none; }

/* button cv about page */
.about-cv {
  margin-top: 60px; }
  .about-cv h3 {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
    color: #64ffda; }

.about-button, .contact-button {
  width: 120px;
  height: 30px;
  border-radius: 30px;
  border: 2px;
  background-color: #64ffda; }

/* services page */
.containers-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px; }

.card-container-1, .card-container-2, .card-container-3 {
  background: url(/pictures/pacman.png);
  background-size: cover;
  border: solid #686f7b 2px;
  border-radius: 20px;
  width: 200px;
  height: 316px;
  margin: 20px;
  padding: 20px;
  box-shadow: 6px 6px #35414b; }
  .card-container-1 p, .card-container-2 p, .card-container-3 p {
    text-decoration: none;
    font-weight: 150;
    text-align: center; }
  .card-container-1:hover .content-services, .card-container-2:hover .content-services, .card-container-3:hover .content-services {
    opacity: 1;
    bottom: -50%;
    transform: translateY(-30px); }
    .card-container-1:hover .content-services p, .card-container-2:hover .content-services p, .card-container-3:hover .content-services p {
      color: #66ff00; }

.card-container-2 {
  background-image: url(/pictures/idrink.jpg); }
  .card-container-2:hover .content-services p {
    color: yellow; }

.card-container-3 {
  background-image: url(/pictures/ieat.jpg); }
  .card-container-3:hover .content-services p {
    color: #fdfdfd; }

.title-card {
  position: relative;
  left: 15px;
  bottom: -10px; }
  .title-card h2 {
    color: #64ffda;
    font-style: oblique; }

.left-side-card {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  top: 10px;
  left: 0px;
  gap: 15px; }
  .left-side-card img {
    width: 40px;
    z-index: 1; }

.content-services {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.5s ease all;
  width: 100%;
  height: 270px;
  position: relative;
  top: 30px; }
  .content-services p {
    padding-top: 40%; }

.header-card h3, .header-card p {
  margin: 5px; }

.h2-services h2 {
  margin-bottom: 80px;
  text-align: center;
  color: #ccd6f6;
  font-size: 38px; }

.icon-services {
  width: 70px; }

.knowledge-cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1; }
  .knowledge-cube h1 {
    text-align: center;
    color: #ccd6f6;
    font-size: 38px;
    margin-bottom: 80px; }

.side {
  height: 120px;
  width: 120px;
  text-align: center;
  margin-left: 5px; }
  .side h2 {
    font-size: 15px; }
  .side p {
    font-size: 9px; }

.top {
  transform: rotate(-45deg) skew(15deg, 15deg); }

.left {
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 3%); }

.right {
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, -94%); }

/* contact me page */
.content-form {
  text-align: left; }

.contact-text-form h2 {
  font-size: 38px;
  color: #64ffda; }

.contact-text-form p {
  font-size: 15px;
  color: #64ffda; }

.contact-form {
  display: block;
  z-index: 2;
  margin-top: 50px; }
  .contact-form ul, .contact-form li, .contact-form textarea {
    margin-top: 10px; }
  .contact-form ul {
    list-style: none;
    padding: 0px; }
  .contact-form textarea {
    width: 100%;
    height: 140px;
    resize: none; }

.input-field {
  padding: 20px;
  width: 100%;
  background: transparent;
  background-color: rgba(100, 255, 218, 0.2);
  color: #64ffda;
  border: solid 3px #ccd6f6;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  border: 0; }
  .input-field:focus {
    transition: 0.5s;
    padding-left: 25px;
    outline: none; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #64ffda;
  transition: background-color 5000s; }

.location-iframe {
  margin-top: 50px;
  text-align: center; }
  .location-iframe iframe {
    border-radius: 10px;
    width: 80%;
    box-shadow: 15px 15px rgba(100, 255, 218, 0.2); }

/* experience page */
.general-experience {
  width: 80%;
  padding-top: 30px; }

.title-experience h2 {
  color: #ccd6f6;
  text-align: center;
  font-size: 38px; }

.container-cards-experience {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px; }

.card {
  background-color: transparent;
  width: 230px;
  margin: 10px;
  border: solid #686f7b 2px;
  border-radius: 20px;
  box-shadow: 6px 6px #35414b; }
  .card h2 {
    margin-left: 7px;
    color: white;
    font-weight: normal;
    text-align: center; }
  .card p {
    text-align: center;
    color: white;
    font-weight: 95; }

.card-image {
  background-color: transparent;
  margin-bottom: 15px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 2px solid #ccd6f6; }

.card-image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px; }

@media (min-width: 370px) {
  .general-text-presentation h1 {
    font-size: 50px; }
  .general-text-presentation p {
    font-size: 25px; }
  .myself-main {
    width: 250px;
    height: 290px; }
  .general-text-about h1 {
    font-size: 50px; }
  .card-services {
    width: 260px; }
  .h2-services h2 {
    font-size: 50px; }
  .card {
    width: 270px; }
  .card-image-size {
    height: 170px; }
  .side {
    height: 185px;
    width: 185px;
    margin-left: 15px; }
    .side h2 {
      font-size: 20px;
      padding: 5px; }
    .side p {
      font-size: 15px;
      padding: 5px; } }

@media (min-width: 740px) {
  header {
    position: sticky; }
  .main-nav ul, .main-nav li, .main-nav a {
    font-size: 25px; }
  .general {
    min-height: 80vh; }
  .myself-main {
    width: 300px;
    height: 320px; }
  .grid-presentation-about {
    display: grid;
    grid-template-columns: 300px 400px;
    justify-content: center;
    align-items: center; }
  .myself-about {
    display: block;
    width: 250px;
    /* height without bootstrap is 450px */
    z-index: 1;
    border-radius: 20px 0px 20px 0px; }
  .square-1-about {
    display: inline-block;
    position: relative;
    transform: translate(65px, -425px);
    z-index: -1;
    height: 150px;
    width: 180px;
    margin: -50px;
    background-color: rgba(203, 213, 246, 0.5); }
  .square-2-about {
    display: inline-block;
    position: relative;
    transform: translate(20px, -75px);
    z-index: -1;
    height: 150px;
    width: 180px;
    margin: -50px;
    background-color: rgba(203, 213, 246, 0.5); }
  .general-text-presentation h1 {
    font-size: 80px; }
  .general-text-presentation p {
    font-size: 26px; }
  .contact-text-form h2 {
    font-size: 60px; }
  .contact-text-form p {
    font-size: 20px; }
  .knowledge-cube h1 {
    font-size: 50px; }
  .side {
    height: 295px;
    width: 295px;
    text-align: center;
    margin-left: 0; }
    .side h2 {
      font-size: 35px;
      padding-top: 45px; }
    .side p {
      font-size: 18px;
      padding-left: 30px;
      padding-right: 30px; }
  .title-experience h2 {
    font-size: 50px; } }

@media (min-width: 1050px) {
  .general-wrapper {
    padding-top: 20px; }
  .grid-presentation {
    display: grid;
    grid-template-columns: 470px 330px; }
  .grid-presentation-about {
    display: grid;
    grid-template-columns: 300px 700px; }
  .general-text-about {
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    padding-left: 50px;
    height: 490px; } }

@media (min-width: 1350px) {
  .general-container {
    grid-template-areas: "header header header" "left-side-nav  main  right-side-nav" "footer footer footer";
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 6% 88% 6%; }
  .grid-presentation {
    grid-template-columns: 600px 300px; }
  header {
    height: 100px; }
  .main-nav ul, .main-nav li, .main-nav a {
    font-size: 20px; }
  /*--------- left-side-nav grid and others -----------*/
  .left-side-nav {
    position: fixed;
    bottom: 0px;
    left: 40px;
    grid-area: left-side-nav;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; }
    .left-side-nav a {
      text-decoration: none;
      color: #64ffda;
      writing-mode: vertical-rl;
      transform: rotate(-180deg);
      font-size: 15px; }
    .left-side-nav ul, .left-side-nav li {
      list-style: none; }
    .left-side-nav ul {
      padding: 0;
      margin-bottom: 35px; }
    .left-side-nav i {
      display: flex;
      flex-direction: column;
      justify-content: end;
      color: #64ffda;
      margin-top: 50px;
      font-size: 20px;
      cursor: pointer; }
  .left-line {
    background-color: #64ffda;
    width: 1px;
    height: 100px;
    margin-top: 20px; }
  /*----------- right-side-nav grid and others -------------*/
  .right-side-nav {
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    grid-area: right-side-nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end; }
    .right-side-nav ul, .right-side-nav li {
      list-style: none; }
    .right-side-nav ul {
      padding: 0; }
    .right-side-nav i {
      display: flex;
      flex-direction: column;
      color: #64ffda;
      margin-top: 50px;
      font-size: 18px; }
    .right-side-nav a {
      text-decoration: none;
      color: #8892b0; }
  .right-line {
    background-color: #64ffda;
    width: 1px;
    height: 100px;
    margin-top: 20px; }
  /*Background figures*/
  .background-figure-triangle {
    padding-top: 80px;
    display: flex;
    gap: 60px; }
  .background-triangle {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 0;
    border-bottom: 100px solid rgba(100, 255, 218, 0.3);
    transition: 1.5s; }
    .background-triangle:hover {
      transform: rotate(400deg);
      transition-timing-function: ease-out; }
  .t-one {
    position: relative;
    top: 86px;
    transform: rotate(45deg); }
  .t-two {
    position: relative;
    top: 10px;
    transform: rotate(-57deg); }
  .t-tree {
    position: relative;
    top: 100px;
    transform: rotate(-3deg); }
  .t-four {
    position: relative;
    top: 0px;
    transform: rotate(26deg); }
  .t-five {
    position: relative;
    top: 100px;
    transform: rotate(18deg); }
  .t-six {
    position: relative;
    top: 0px;
    transform: rotate(21deg); }
  .t-seven {
    position: relative;
    top: 70px;
    transform: rotate(-54deg); }
  .t-eight {
    position: relative;
    top: 0px;
    transform: rotate(-50deg); }
  /* -------------------------------- */
  .general-wrapper {
    min-height: 80vh;
    margin: 0px auto;
    margin-bottom: 70px; }
  .general-text-presentation {
    padding-top: 20px; }
    .general-text-presentation h1 {
      font-size: 100px; } }
