/* general settings */
body{
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: $dark;
}

//main


/* Scroll configuration */

::-webkit-scrollbar{
    width: 4px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: $scroll-color;
    border-radius: 15px;
}




/*---------------------------------*/

/* GENERAL GRID FOR ALL APGE */

.general-container{
    display: grid;
    grid-template-areas: 
                    "header"
                     "main"  
                    "footer" 
  ;
  justify-content: center;
  margin: 0;
  padding: 0;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;

  
}




main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* footer grid*/

.general-wrapper{

    display: flex;
    align-items: center;
    
    justify-content: center;
    flex-direction: column;
    width: 90%;
    min-height: 85vh;
    padding: 0;

    max-width: 100%;

    box-sizing: border-box;

    opacity: 0;
    transition: all 0.8s ease-out;

    margin-top: 80px;

    

}


.show-wrappers{
    opacity: 1;
    bottom: 0;
}


/* presentation configurations */


.grid-presentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    
}

.general-text-presentation{

    display: grid;
    flex-direction: column;
    text-align: left;
    

    h1 ,p{
        margin: 0px;
        padding: 0px;
    }
    h1{
        color: $header-text;
        font-size: 50px;
    }
    p{
        font-size: 20px;
        color: $sub-header;
    }
    .p-home-title{
        font-size: 18px;
        color:$sky-blue;
    }
}


.presentation-img{
    text-align: center;
}

.myself-main{
    width: 150px;
    height: 150px;

    padding: 0px 6px  0px 6px;

    border-radius: 50%;
    box-shadow: rgba(100, 255, 218, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    transition: 3s ease-in-out;

    &:hover{
        transform: rotate(360deg);
    }

}

/* About configurations */




.grid-presentation-about{

    display: flex;
    justify-content: center;
    align-items: center;
    
}


.general-text-about{

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: left;

    padding: 0px 30px;
    h1 , h2 ,p{
        margin: 0px;
        padding: 0px;
    }
    h1{
        font-size: 38px;
        line-height: 90px;
    
        color: $header-text;
    }
    h2{
        font-size: 32px;
        line-height: 90px;
        font-weight: normal;
    
        color:$sub-header;
    }
    p{
        font-size: 20px;

        color:$sub-header
    }
}



.myself-about{
    display: none;
    
}

.square-1-about{
    display: none;
}
.square-2-about{
    display: none;
}
/* button cv about page */

.about-cv{
    margin-top: 60px;
    h3{
        font-size: 25px;
        font-weight: normal;
        text-align: left;
        color: $sky-blue;
    }
}

.about-button{
    width: 120px;
    height: 30px;

    border-radius: 30px;
    border: 2px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: $sky-blue;
    a{
        text-decoration: none;
        color: black;
    }
}

/* services page */



.containers-services{
    display: flex;
    justify-content:center;

    flex-wrap: wrap;
    gap: 70px;
}

.card-container-1{

    background-image: url(../pictures//projects/pac.jpg);
    background-size:cover ;


    border-radius: 20px;

    width: 200px;
    height: 316px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    overflow: hidden;
    
    &:hover .content-services{
        opacity: 1;
        bottom: -50%;
        transform: translateY(-100px);
    }

}

.card-container-2{
    @extend .card-container-1;
    background-image: url(../pictures//projects/idrink.jpg);
}

.card-container-3{
    @extend .card-container-1;
    background-image: url(../pictures//projects/burger.jpg);
}

.card-container-5{
    @extend .card-container-1;
    background-image: url(../pictures//projects/apigiphy.jpg);
    background-position: center;
}
.card-container-6{
    @extend .card-container-1;
    background-image: url(../pictures//projects/github.jpg);
    background-position: center;
}

.card-container-4{
    @extend .card-container-1;
    background-image: url(../pictures//projects/rs.jpg);
    background-position: 50% 50%;
    background-size:contain;

}


.title-card{
    position: relative;
    left: -10px;
    bottom: 0px;

    h2{
        color: $sky-blue;
        font-style: oblique;
    }

}

.left-side-card{

    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
    

    transform: translateX(-20px);

    gap: 15px;

    z-index: 3;

    img{
        
        width: 40px;
    }
}

.content-services{

    border-radius: 10px;
    background-color: rgba(10, 25, 47 , 0.8);
    opacity: 0;
    transition: 0.5s ease all;

    // width: 160px ;
    width: 100%;
    height: 100%;
    // height: 270px;


    position: relative;
    top: 100px;

    z-index: 2;

    a{
        color: $header-text;
        text-decoration: none;
        font-style: oblique;
    }


    p{
        color: $sky-blue;

        text-decoration: none;
        font-weight: 150;
        text-align: center;
        position: absolute;
        padding: 35% 30px 0px 30px;
    }
}


.header-card{
    h3 , p{
        margin: 5px;
    }
    
}

.h2-services{
    h2{
        margin-bottom: 80px;
        text-align: center;
        color:$header-text;
        font-size: 38px;
    }
}

.icon-services{
    width: 70px;
}

// knowledge cube page
.knowledge-cube{
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;

    z-index: -1;
    h1{
        text-align: center;
        color: $header-text;
        font-size: 38px;
        margin-bottom: 60px;
    }

    margin-bottom: -160px;
}

 .side{
    height: 120px;
    width: 120px;

    text-align: center;

    margin-left:5px ;
    h2{
        font-size: 15px;
    }
    p{
        font-size: 9px;
    }
 }



  .top {
    @include cube(rotate(-45deg) skew(15deg, 15deg));
  }
  .left {
    @include cube(rotate(15deg) skew(15deg, 15deg) translate(-50%,3%));
  }
  .right {
    @include cube(rotate(-15deg) skew(-15deg, -15deg) translate(50%, -94%));
  }





/* contact me page */


.content-form{
    text-align:left;
}


.contact-text-form{
    h2{
        font-size: 38px;
        color: $sky-blue;
    }
    p{
        font-size: 15px;
        color: $sky-blue;
    }
    
}

.contact-form{
    display: block;

    z-index: 2;

    margin-top: 50px;
    ul , li , textarea{
        margin-top: 10px;
        
    }
    ul{
        list-style: none;
        padding: 0px;
    }
    textarea{
        width: 100%;
        height: 140px;
        resize: none;
        margin-top: 15px;
    }
}

.input-field{
    padding: 20px;
    width: 100%;


    background: transparent;
    background-color: $sky-blue-transparent;
    color: $sky-blue;

    border: solid 3px #ccd6f6;

    height: 60px;
    box-sizing: border-box;
    font-size: 16px;

    box-shadow: rgba(12, 42, 56, 0.3) 0px 19px 38px, rgba(14, 90, 104, 0.22) 0px 15px 12px;

    font-style: italic;

    border:0;

    margin-top: 5px;
    

    &:focus{
        transition: 0.5s;
        padding-top: 35px;
        padding-left: 35px;
        outline: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: $sky-blue;
  transition: background-color 5000s;
}


.contact-button{
    @extend .about-button;
    color: black;
}

.location-iframe{
    margin-top: 50px;
    text-align: center;
    iframe{
        border-radius: 10px ;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

/* experience page */


.general-experience{
    width: 80%;
    height: 100%;
    padding-top: 30px;
    margin-bottom: 60px;
}


.title-experience{
    h2{
        color: $header-text;
        text-align: center;
        font-size: 38px;
    }
    
}

// ---------------- carousel --------------------
// Experience cards 
.container-cards-experience{
    width: 100%;
    margin-top: 70px;
    gap: 30px;
    }

// Experience cards 

.card-1{
    background-color: transparent;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    border-radius: 5px;

    width: 230px;

    margin: 10px;
    border: none;

    transition: transform .7s ease-in-out;

    &:hover{
        transform: scale(1.04);
    }
}

//---------------------------------------------



// Experience cards 
.card-2{
    @extend .card-1;
}
.card-3{
    @extend .card-1;
}
.card-4{
    @extend .card-1;
}
.card-5{
    @extend .card-1;
}
.card-6{
    @extend .card-1;
}
.card-7{
    @extend .card-1;
}
.card-8{
    @extend .card-1;
}
.card-9{
    @extend .card-1;
}
.card-10{
    @extend .card-1;
}

.card-text {

    height: 80%;

    margin-top: 10px;


    h2{
        padding: 10px 10px 0px 10px;
        margin-left: 7px;
        color: $header-text;
        font-weight: normal;
        text-align: center;

        font-style: oblique;
    }
    p{
        padding: 20px 20px 20px 20px;
        text-align: center;
        color: $sub-header;
        font-weight:95;
        
    }
}

.card-image{
    background-color:transparent;
    padding-top: 5px ;
}

.card-image-size{


    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 50%;
}


//loader

#loader-page{
    background: $dark url(../pictures/button-icons/pacman.gif) no-repeat center;
    background-size: 35%;
    height: 100vh;
    width: 100%;

    position: fixed;
    z-index:150;
}
