// general colors
$dark : #0a192f;
$sky-blue: rgb(100, 255, 218);
$sky-blue-triangle:rgba(100, 255, 218,.3);
$sky-blue-transparent: rgba(100, 255, 218, 0.15);
$sky-blue-transparent-form: rgba(100, 255, 218, .2);
$header-text:rgb(204, 214, 246) ;
$sub-header:#8892b0;

// scroll-color

$scroll-color: rgba(255, 255, 255, .5);

// square colors
$square-color: rgba(203, 213, 246, .5) ;



//cube

$cube-faces:(
    top: #C9F6FF,
    right:#349FA6 ,
    left:#8BC5C8,
);

@each $face ,$color in $cube-faces {
    .#{$face} {
        background : $color;
    }
}

// triangles     



@mixin triangle( $top, $transform){
    position: relative;
    top: $top;
    transform: $transform;
}

@mixin cube($transform){
    transform: $transform;
}